@model App.Entities.Employee

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Create Form</title>
    <link rel="stylesheet" href="~/css/student-create.css" asp-append-version="true" />
</head>
<body>
    @if (ViewBag.Message != null)
    {
        <p style="color:green"> @ViewBag.Message </p>
    }
    @if (ViewBag.ErrorMessage != null)
    {
        <p style="color:red"> @ViewBag.ErrorMessage </p>
    }
    @if (TempData["Message"] != null)
    {
        <p style="color:red"> @TempData["Message"] </p>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <p style="color:red"> @TempData["ErrorMessage"] </p>
    }
    <div class="container2">
        <h2>Hesap Oluştur</h2>
        <form asp-action="Create" method="post">
            <label for="UserNumber">Number:</label>
            <input type="number" id="UserNumber" name="UserNumber" value="@ViewBag.NewAccountNumber" required>

            <label for="FirstName">İsim:</label>
            <input type="text" id="FirstName" name="FirstName" required>

            <label for="LastName">Soyisim:</label>
            <input type="text" id="LastName" name="LastName" required>

            <label for="Password">Password:</label>
            <input type="password" id="Password" name="Password" required>

            <button type="submit" asp-action="Create">Hesap Oluştur</button>
        </form>
    </div>
</body>


