@model List<App.Entities.Course>
@inject HtmlAuthorityManager AuthorityManager
@using App.Managers


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <link rel="stylesheet" href="~/css/notes-index.css" asp-append-version="true" />
</head>
<body>
    <form method="post" asp-action="CourseRegistration" asp-controller="Student">
        <header class="header1">
            <h1>Açabileceğiniz Dersler</h1>
        </header>
        @if (ViewBag.Message != null)
        {
            <p style="color:green"> @ViewBag.Message </p>
        }
        @if (ViewBag.ErrorMessage != null)
        {
            <p style="color:red"> @ViewBag.ErrorMessage </p>
        }
        @if (TempData["Message"] != null)
        {
            <p style="color:red"> @TempData["Message"] </p>
        }
        @if (TempData["ErrorMessage"] != null)
        {
            <p style="color:red"> @TempData["ErrorMessage"] </p>
        }

        @if (Model != null)
        {
            <div class="container1">
                <table class="notlar-table1">
                    <thead>
                        <tr>
                            <th class="parameters">Ders Adı</th>
                            <th class="parameters">Kredisi</th>
                            <th class="parameters">Seç</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Credit</td>
                                <td><input type="checkbox" name="CourseIDList" value="@item.ID" /></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        <button type="submit" asp-action="CourseOpening" asp-controller="Employee">Gönder</button>
    </form>
</body>
</html>
